div(id="js-modal" class="modal")
			span(id="js-close-btn" class="modal__close-btn") &times;
			figure(id="js-modal-content" class="modal__img-wrap")
				img(id="js-modal-img" class="modal__img" src="" alt="modal-img")