.breadcrumbs {
	margin-top: 15px;
	padding: 0 20px;

	&__list {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		margin-right: 10px;

		&:first-child .breadcrumbs__link:before {
			display: none;
		}
	}

	&__link {
		display: block;
		width: 100%;
		height: 15px;
		font-family: $RC;
		font-size: 12px;
		line-height: 15px;
		color: #151515;
		text-decoration: none;
		vertical-align: middle;

		&:hover {
			text-decoration: underline;
		}

		&:before {
			display: inline-block;
			content: '';
			width: 1px;
			height: 85%;
			margin-right: 10px;
			background: #13345c;
			vertical-align: top;
		}
	}
}